
<style>

    body{
        background-color: rgb(233, 136, 57);
    }

    table.list{
        background-color: rgb(14, 84, 97);
        font-family: comic Sans MS;
        color: #f2f2f2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        border-radius: 100px;
        padding: 7px;
    }

    .TopMenu {
        background-color: rgb(14, 84, 97);
        width: 500px;
        border-radius: 100px;
        overflow: hidden;
    }


    .TopMenu a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 70.45px;
        text-decoration: none;
        font-size: 17px;
        font-family: comic Sans MS;
    }


    .TopMenu a:hover {
        background-color: #ddd;
        color: black;
    }


    .TopMenu a.Current{
        background-color: rgb(255, 255, 255);
        color: black;
    }

</style>

<center>

     <div class="TopMenu">
        <a href="/contacts/add">Add a Contact</a>
        <a class="list" href="/contacts/list">Contacts List</a>
    </div>

    <br>

    <table class="list" style = "border:solid 1px black; border-radius: 15px;">
        
        <tr> 
            <th>Name<hr></th>
            <th>E-mail<hr></th>
            <th>Phone Number<hr></th>
        </tr>

        {{#each data}}

        <tr>
            <td>{{this.Name}}<hr></td>
            <td>{{this.Email}}<hr></td>
            <td>{{this.Phone}}<hr></td>
            <td>
                <a href="contacts/delete/{{this._id}}">Delete</a>
            </td>
        </tr>

        {{/each}}

    </table>

</center>